body {
  max-width: 500px;
  margin: 24px auto;
  background-color: lightgray;
}

#calculator {
  font-family: Arial, sans-serif;
  background-color: darkslategray;
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}

#display {
  width: 100%;
  padding: 20px;
  font-size: 80px;
  border: none;
  background-color: dimgray;
  color: white;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  background-color: gray;
  color: white;
  font-size: 48px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: darkgray;
}

button:active {
  background-color: silver;
}

.operator-btn {
  background-color: orange;
}

.operator-btn:hover {
  background-color: gold;
}

.operator-btn:active {
  background-color: yellow;
}
